$primary: #f77dd0;
$secondary: #fbd999;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1700px !important;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
